@import "_base.scss";

html {
  scroll-behavior: smooth;
  background: $black;
}

/* __ I n t r o - S e c t i o n ______________________________ */

.Intro {
  // Spacing
  text-align: center;
  padding: 12rem 1rem 10rem;

  color: $white;
  background: $black;
  // border-radius: 0 0 50px 50px;

  .Intro-name {
    // Font
    font-family: $Poppins;
    font-size: size(large);
    font-weight: weight(bold);
  }

  .Intro-job {
    // Font
    font-family: $Poppins;
    font-size: size(med-large);
    font-weight: weight(bold);
    // Font Color
    color: $primary-color;
    // Spacing
    margin: 1rem 0;
  }

  .Intro-details {
    // Font
    font-family: $Poppins;
    font-size: size(medium);
    font-weight: weight(med-low);
    // Spacing
    margin: 1rem 0;
  }

  .Intro-img {
    width: 30%;
    height: auto;
    // I use Background Colors to visualize the size of the element itself //
    // background: rgb(219, 240, 223);
  }
}

/* ______________ Laptop / iPad Pro Screen Size */
@media (max-width: 1500px) {
  .Intro {
    // Spacing
    text-align: center;
    padding: 12rem 1rem 10rem;

    .Intro-name {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(large);
      font-weight: weight(medium);
    }

    .Intro-job {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(med-large);
      font-weight: weight(medium);
      color: $primary-color;
      // Spacing
      margin: 1rem 0rem;
      // Spacing
    }

    .Intro-details {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(medium);
      font-weight: weight(med-low);
      // Spacing
      margin: 1rem 0rem;
    }

    .Intro-img {
      width: 70%;
      height: auto;
    }
  }
}
@media (max-width: 1250px) {
  .Intro {
    // Spacing
    text-align: center;
    padding: 12rem 1rem 5rem;

    .Intro-name {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(large);
      font-weight: weight(medium);
    }

    .Intro-job {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(med-large);
      font-weight: weight(medium);
      color: $primary-color;
      // Spacing
      margin: 1rem 0rem;
      // Spacing
    }

    .Intro-details {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(medium);
      font-weight: weight(med-low);
      // Spacing
      margin: 1rem 0rem;
    }

    .Intro-img {
      width: 80%;
      height: auto;
    }
  }
}

/* ______________ Mid-size tablet Screen Size */
@media (max-width: 900px) {
  .Intro {
    // Spacing
    text-align: center;
    padding: 12rem 1rem 10rem;
  }
}

/* ______________  iPad / Tablet Screen size */
@media (max-width: 868px) {
  .Intro {
    // Spacing
    text-align: center;
    padding: 12rem 1rem 10rem;
    .Intro-name {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(med-large);
      font-weight: weight(medium);
    }

    .Intro-img {
      width: 100%;
      height: auto;
    }

    .Intro-job {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(regular);
      font-weight: weight(medium);
      color: $primary-color;
      // Spacing
      margin: 1rem 0rem;
      // Spacing
    }

    .Intro-details {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(medium);
      font-weight: weight(med-low);

      // Spacing
      margin: 1rem 0rem;
    }

    .fa-chevron-down {
      // Spacing
      margin: 1rem 0 0 0;
      padding: 0rem 0 0 0;
    }
  }
}

/* ______________ Larger Phones Screen size */
@media (max-width: 680px) {
  .Intro {
    text-align: center;
    padding: 7rem 1rem 10rem;

    .Intro-name {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(med-large);
      font-weight: weight(medium);

      margin: 5rem 0 1rem 0;
      // padding: 5rem 0;
    }

    .Intro-job {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(medium);
      font-weight: weight(medium);
      color: $primary-color;
      // Spacing
      margin: 1rem 0rem;
    }

    .Intro-details {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(small);
      font-weight: weight(med-low);

      // Spacing
      margin: 1rem 0rem;

      .fa-chevron-down {
        // Spacing
        margin: 1rem 0 0 0;
        padding: 0rem 0 0 0;
      }
    }
  }

  /* ______________ Smaller Phones Screen size */
  @media (max-width: 380px) {
    .Intro {
      text-align: center;
      padding: 5rem 1rem 10rem;

      .Intro-name {
        // Font/ Text Styling
        font-family: $Poppins;
        font-size: size(regular);
        font-weight: weight(medium);

        // Spacing
        margin: 5rem 0 1rem 0;
        // padding: 5rem 0;
      }

      .Intro-job {
        // Font/ Text Styling
        font-family: $Poppins;
        font-size: size(medium);
        font-weight: weight(medium);
        color: $primary-color;
        // Spacing
        margin: 1rem 0rem;
      }

      .Intro-details {
        // Font/ Text Styling
        font-family: $Poppins;
        font-size: size(xtra-small);
        font-weight: weight(med-low);

        // Spacing
        margin: 1rem 0rem;

        .fa-chevron-down {
          // Spacing
          margin: 1rem 0 0 0;
          padding: 0rem 0 0 0;
        }
      }
    }
  }
}
/* __ P r o j e c t - S e c t i o n ______________________________ */

.Cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  padding: 10rem 0;

  background: $whiteBG;
}

.Card {
  // Colors
  color: $black2;
  background: $whiteBG;
  box-shadow: $shadow2;
  // Display
  padding: 2rem 3rem 5rem 3rem;
  margin: 0 3em;

  border-radius: 15px;
}

.Card-svg {
  width: 100%;
  height: auto;
}

.Card-text-container {
  padding: 2rem 1rem;
}

.Card-title {
  font-size: size(med-large);
}

.Card-description {
  font-size: size(small);
}

.Button-div {
  list-style: none;

  display: flex;
  justify-content: flex-start;

  margin: 2rem 0 0 0;
}

.Card-button-link {
  color: $white;
  background: $primary-color;

  text-decoration: none;
  text-align: center;
  font-size: size(regular);

  box-shadow: $shadow2;

  border-radius: 50%;

  padding: 8px 15px;
  margin: 0 1rem 0 0;
}

/* ______________ Laptop / iPad Pro Screen Size */
@media (max-width: 1500px) {
  .Cards {
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    padding: 3rem 0 3rem 0;
  }

  .Card {
    // Spacing
    padding: 2rem 25px 4rem 25px;
    margin: 1.5rem;
    // Text Layout
    text-align: left;
  }

  .Card-svg {
    width: 100%;
    height: auto;

    // background: $blue;
  }

  .Button-div {
    margin: 2rem 0 0 0;
    font-size: size(small);
    // background: $green;

    .Card-button-link {
      border-radius: 50%;

      padding: 10px 15px;
      margin: 0 1rem 0 0;
    }
  }
}
/* ______________ Mid-size tablet Screen Size */
@media (max-width: 1100px) {
  .Cards {
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    padding: 3rem 0 3rem 0;
  }

  .Card {
    // Spacing
    padding: 2rem 25px 4rem 25px;
    margin: 1.5rem;
    // Text Layout
    text-align: left;
  }

  .Card-svg {
    width: 100%;
    height: auto;

    // background: $blue;
  }

  .Button-div {
    margin: 2rem 0 0 0;
    font-size: size(small);
    // background: $green;

    .Card-button-link {
      border-radius: 50%;

      padding: 10px 15px;
      margin: 0 1rem 0 0;
    }
  }
}

/* ______________  iPad / Tablet Screen size */
@media (max-width: 868px) {
  .Cards {
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }

  .Card {
    // Spacing
    padding: 2rem 25px 4rem 25px;
    margin: 1.5rem;
    // Text Layout
    text-align: left;
  }

  .Card-container {
    display: flex;
    flex-flow: row wrap;
  }

  .Card-text-container {
    // background: $red;
    align-self: flex-end;
  }

  .Card-svg {
    width: 50%;
    height: auto;

  }


  .Button-div {
    list-style: none;

    display: flex;
    justify-content: flex-start;

    margin: 2rem 0 0 0;

    // background: $green;

    .Card-button-link {
      color: $white;
      background: $primary-color;

      text-decoration: none;
      text-align: center;

      border-radius: 50%;

      padding: 10px 15px;
      margin: 0 1rem 0 0;
    }
  }
}

/* ______________ Larger Phones Screen size */
@media (max-width: 680px) {
  .Cards {
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }

  .Card {
    // Spacing
    padding: 2rem 25px 4rem 25px;
    margin: 1.5rem;
    // Text Layout
    text-align: left;
  }

  .Card-svg {
    width: 100%;
    height: auto;
  }

  .Button-div {
    margin: 2rem 0 0 0;

    .Card-button-link {
      border-radius: 50%;

      padding: 10px 15px;
      margin: 0 1rem 0 0;
    }
  }
}

/* ______________ Smaller Phones Screen size */
@media (max-width: 380px) {
  .Cards {
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }

  .Card {
    // Spacing
    padding: 2rem 25px 4rem 25px;
    margin: 1.5rem;
    // Text Layout
    text-align: left;
  }

  .Card-svg {
    width: 100%;
    height: auto;
  }

  .Button-div {
    margin: 2rem 0 0 0;

    .Card-button-link {
      border-radius: 50%;

      padding: 10px 15px;
      margin: 0 1rem 0 0;
    }
  }
}

/* __ A b o u t - S e c t i o n __________________________________ */
.About {
  background: $black2;
  color: $white;

  padding: 5rem 2rem;
}
/* __ C o n t a c t - S e c t i o n ______________________________ */
