@import "_base.scss";

html {
  scroll-behavior: smooth;
  background: $black2;
}

/* __ I n t r o - S e c t i o n ______________________________ */

.Intro {
  // Spacing
  text-align: center;
  padding: 12rem 1rem 10rem;

  color: $white;
  background: $black;

  .Intro-name {
    // Font
    font-family: $Poppins;
    font-size: size(large);
    font-weight: weight(bold);
  }

  .Intro-job {
    // Font
    font-family: $Poppins;
    font-size: size(med-large);
    font-weight: weight(bold);
    // Font Color
    color: $primary-color;
    // Spacing
    margin: 1rem 0;
  }

  .Intro-details {
    // Font
    font-family: $Poppins;
    font-size: size(medium);
    font-weight: weight(med-low);
    // Spacing
    margin: 1rem 0;
  }

  .Intro-img {
    width: 30%;
    height: auto;
    // I use Background Colors to visualize the size of the element itself //
    // background: rgb(219, 240, 223);
  }
}

/* ______________ Laptop / iPad Pro Screen Size */
@media (max-width: 1500px) {
  .Intro {
    // Spacing
    text-align: center;
    padding: 12rem 1rem 10rem;

    .Intro-name {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(large);
      font-weight: weight(medium);
    }

    .Intro-job {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(med-large);
      font-weight: weight(medium);
      color: $primary-color;
      // Spacing
      margin: 1rem 0rem;
      // Spacing
    }

    .Intro-details {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(medium);
      font-weight: weight(med-low);
      // Spacing
      margin: 1rem 0rem;
    }

    .Intro-img {
      width: 70%;
      height: auto;
    }
  }
}
/* ____________________________ iPad Pro Screen Size */
@media (max-width: 1250px) {
  .Intro {
    // Spacing
    text-align: center;
    padding: 12rem 1rem 5rem;

    .Intro-name {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(med-large);
      font-weight: weight(medium);
    }

    .Intro-job {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(regular);
      font-weight: weight(medium);
      color: $primary-color;
      // Spacing
      margin: 1rem 0r 0 0;
      // Spacing
    }

    .Intro-details {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(small);
      font-weight: weight(med-low);
      // Spacing
      margin: 1rem 0rem;
    }

    .Intro-img {
      width: 80%;
      height: auto;
    }
  }
}

/* ______________ Mid-size tablet Screen Size */
@media (max-width: 900px) {
  .Intro {
    // Spacing
    text-align: center;
    padding: 12rem 1rem 10rem;
  }
}

/* ______________  iPad / Tablet Screen size */
@media (max-width: 868px) {
  .Intro {
    // Spacing
    text-align: center;
    padding: 12rem 1rem 10rem;
    .Intro-name {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(med-large);
      font-weight: weight(medium);
    }

    .Intro-img {
      width: 100%;
      height: auto;
    }

    .Intro-job {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(regular);
      font-weight: weight(medium);
      color: $primary-color;
      // Spacing
      margin: 1rem 0rem;
      // Spacing
    }

    .Intro-details {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(medium);
      font-weight: weight(med-low);

      // Spacing
      margin: 1rem 0rem;
    }
  }
}

/* ______________ Larger Phones Screen size */
@media (max-width: 680px) {
  .Intro {
    text-align: center;
    padding: 7rem 1rem 10rem;

    .Intro-name {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(med-large);
      font-weight: weight(medium);

      margin: 5rem 0 1rem 0;
      // padding: 5rem 0;
    }

    .Intro-job {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(medium);
      font-weight: weight(medium);
      color: $primary-color;
      // Spacing
      margin: 1rem 0rem;
    }

    .Intro-details {
      // Font/ Text Styling
      font-family: $Poppins;
      font-size: size(small);
      font-weight: weight(med-low);

      // Spacing
      margin: 1rem 0 0 0;
    }
  }

  /* ______________ Smaller Phones Screen size */
  @media (max-width: 380px) {
    .Intro {
      text-align: center;
      padding: 5rem 1rem 10rem;

      .Intro-name {
        // Font/ Text Styling
        font-family: $Poppins;
        font-size: size(regular);
        font-weight: weight(medium);

        // Spacing
        margin: 5rem 0 1rem 0;
        // padding: 5rem 0;
      }

      .Intro-job {
        // Font/ Text Styling
        font-family: $Poppins;
        font-size: size(small);
        font-weight: weight(medium);
        color: $primary-color;
        // Spacing
        margin: 1rem 0rem;
      }

      .Intro-details {
        // Font/ Text Styling
        font-family: $Poppins;
        font-size: size(xtra-small);
        font-weight: weight(med-low);

        // Spacing
        margin: 1rem 0rem;
      }
    }
  }
}
/* __ P r o j e c t - S e c t i o n ______________________________ */

.Cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  padding: 10rem 0;

  background: $whiteBG;

  border-radius: 20px;
}

.Card {
  // Colors
  color: $black2;
  background: $whiteBG;
  box-shadow: $shadow2;
  // Display
  padding: 2rem 3rem 5rem 2rem;
  margin: 0 3rem;

  border-radius: 15px;
}

.Card-svg {
  width: 100%;
  height: auto;
}

.Card-text-container {
  padding: 0;
}

.Card-title {
  font-size: size(medium);
}

.Card-description {
  font-size: size(xtra-small);
}

.Button-div {
  list-style: none;

  display: flex;
  justify-content: flex-start;

  margin: 2rem 0 0 0;
}

.Card-button-link {
  color: $white;
  background: $primary-color;

  text-decoration: none;
  text-align: center;
  font-size: size(small);

  box-shadow: $shadow2;

  border-radius: 50%;

  padding: 8px 13px;
  margin: 0 1rem 0 0;
}

/* ____________________________ Laptop / iPad Pro Screen Size */
@media (max-width: 1500px) {
  .Cards {
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    padding: 3rem 0 3rem 0;
  }

  .Card {
    // Spacing
    padding: 2rem 25px 4rem 25px;
    margin: 1.5rem;
    // Text Layout
    text-align: left;
  }

  .Card-svg {
    width: 100%;
    height: auto;

    // background: $blue;
  }

  .Button-div {
    margin: 2rem 0 0 0;
    font-size: size(small);
    // background: $green;

    .Card-button-link {
      border-radius: 50%;

      padding: 10px 15px;
      margin: 0 1rem 0 0;
    }
  }
}
/* ____________________________ Mid-size tablet Screen Size */
@media (max-width: 1100px) {
  .Cards {
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    padding: 3rem 0;
  }
  .Card {
    // Spacing
    padding: 2rem 25px 4rem 25px;
    margin: 1.5rem;
    // Text Layout
    text-align: left;
  }

  .Card-svg {
    width: 100%;
    height: auto;

    // background: $blue;
  }

  .Card-text-container {
    padding: 0;
  }

  .Card-title {
    font-size: size(medium);
  }

  .Card-description {
    font-size: size(xtra-small);
  }

  .Button-div {
    margin: 2rem 0 0 0;
    // background: $green;

    .Card-button-link {
      font-size: size(small);
      border-radius: 50%;

      padding: 10px 15px;
      margin: 0 1rem 0 0;
    }
  }
}

/* ____________________________  iPad / Tablet Screen size */
@media (max-width: 868px) {
  .Cards {
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;

    padding: 3rem 4rem;
  }

  .Card {
    // Spacing
    padding: 2rem 25px 4rem 25px;
    margin: 1.5rem;
    // Text Layout
    text-align: left;
  }

  .Card-container {
    display: flex;
    flex-flow: row wrap;
  }

  .Card-3 {
    margin-bottom: 5rem;
  }
  .Card-text-container {
    // background: $red;
    align-self: flex-end;
  }

  .Card-svg {
    width: 50%;
    height: auto;
    margin-left: 8rem;
  }

  .Card-title {
    font-size: size(regular);
  }

  .Card-description {
    font-size: size(small);
  }

  .Button-div {
    list-style: none;

    display: flex;
    justify-content: flex-start;

    margin: 2rem 0 0 0;

    // background: $green;

    .Card-button-link {
      color: $white;
      background: $primary-color;

      text-decoration: none;
      text-align: center;
      font-size: size(medium);

      border-radius: 50%;

      padding: 10px 15px;
      margin: 0 1rem 0 0;
    }
  }
}

/* ____________________________ Larger Phones Screen size */
@media (max-width: 680px) {
  .Cards {
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    padding: 3rem 0;
  }

  .Card {
    // Spacing
    padding: 2rem 25px 4rem 25px;
    margin: 1.5rem;
    // Text Layout
    text-align: left;
  }

  .Card-svg {
    width: 100%;
    height: auto;
    // Resets Spacing ****
    margin-left: 0rem;
  }

  .Card-title {
    font-size: size(medium);
  }

  .Card-description {
    font-size: size(xtra-small);
  }

  .Button-div {
    margin: 2rem 0 0 0;

    .Card-button-link {
      font-size: size(medium);
      border-radius: 50%;

      padding: 10px 15px;
      margin: 0 1rem 0 0;
    }
  }
}

/* ____________________________ Smaller Phones Screen size */
@media (max-width: 380px) {
  .Cards {
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;

    padding: 3rem 0;
  }

  .Card {
    // Spacing
    padding: 1rem 20px 4rem 20px;
    margin: 1.5rem;
    // Text Layout
    text-align: left;
  }

  .Card-svg {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .Card-text-container {
    padding: 0rem;
  }

  .Card-title {
    font-size: size(medium);
  }

  .Card-description {
    font-size: size(xx-small);
  }

  .Button-div {
    margin: 2rem 0 0 0;

    .Card-button-link {
      font-size: size(xtra-small);
      border-radius: 50%;

      padding: 10px 15px;
      margin: 0 1rem 0 0;
    }
  }
}

/* __ A b o u t - S e c t i o n ____________________________________________________________________ */

.About {
  background: $black;
  color: $white;

  padding: 10rem 3rem;
  

  text-align: center;
}

.About-title {
  font-size: size(regular);
}

.About-description {
  font-size: size(small);

  // margin: 0 10rem;
}

/* ____________________________ Laptop / iPad Pro Screen Size */
@media (min-width: 1600px) {
  .About-description {
    margin: 0 10rem;
  }
}
@media (max-width: 1500px) {
  .About-title {
    font-size: size(regular);
  }

  .About-description {
    font-size: size(small);
  }
}

/* ____________________________ Mid-size tablet Screen Size */
@media (max-width: 868px) {
  .About {
    padding: 15rem 3rem;
  }

  .About-title {
    font-size: size(regular);
  }

  .About-description {
    font-size: size(small);
    font-weight: weight(low);
  }
}

/* ____________________________ Smaller Phones Screen size */
@media (max-width: 380px) {
  .About {
    padding: 10rem 2rem;
  }

  .About-title {
    font-size: size(medium);
  }

  .About-description {
    font-size: size(xtra-small);
  }
}
/* __ C o n t a c t - S e c t i o n ____________________________________________________________  */

.Contact {
  background: $whiteBG;

  border-radius: 20px;
  padding: 10rem 3rem 10rem 3rem;

  text-decoration: none;
  list-style: none;
  text-align: center;
}

.Contact-title {
  font-size: size(regular);
}

.Contact-description {
  font-size: size(small);
  font-weight: weight(med-low);
}

.Contact-list_div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.Contact-icons {
  color: inherit;
  font-size: size(regular);
  padding: 0 1rem 0 0;

  .fa-instagram {
    color: $insta;
  }

  .fa-linkedin {
    color: $linkeden;
  }

  .fa-github-square {
    color: $black2;
  }
}

/* ____________________________ Laptop / iPad Pro Screen Size / Mid-size tablet Screen Size */
@media (max-width: 1100px) {
  .Contact {
    padding: 10rem 1rem 20rem 1rem;
    text-decoration: none;
    list-style: none;
  }

  .Contact-icons {
    padding: 1rem 1rem 0 0;
  }

  .Contact-description {
    font-weight: weight(med-low);
  }
}

@media (max-width: 868px) {
  .Contact {
    padding: 10rem 1rem 20rem 1rem;
  }
  .Contact-title {
    font-size: size(regular);
  }

  .Contact-description {
    font-weight: weight(med-low);
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 380px) {
  .Contact {
    padding: 10rem 1rem 20rem 1rem;
  }
  .Contact-title {
    font-size: size(medium);
    margin: 0 0 1rem 0;
  }

  .Contact-description {
    font-size: size(xtra-small);
    font-weight: weight(med-low);
    margin: 0 0 1rem 0;
  }

  // .Contact-list_div {
  //  align-items: center;
  // }
}
